
$breakpoints : (
  desktop: 875px,
  mobile : 480px,
  smaller: 320px,
);

@mixin query($display){
  @each $key, $value in $breakpoints {
    //  defining max-width
    @if ($display == $key) {
      @media (max-width: $value){ @content; }
    }
  }
}



/*---------- resets */
* {
  box-sizing: border-box;
  margin-block: 0;
  margin-inline: 0;
  margin: 0;
  padding-inline-start: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5em;
}
a {
  text-decoration: none;
}


/*---------- globals */
:root {
  --background: #fafafa;
  --border: #dbdbdb;
  --button-hover: rgba(0, 149, 246, 1);
  --button: rgba(0, 149, 246, 0.3);
  --font: "Segoe UI", Roboto;
  --link: #0096f6;
  --text-facebook: #385185;
  --text-forgot: #00376b;
  --text-or: #8e8e8e;
  --text: #262626;
  --white: #fff;
}
body {
  background-color: var(--background);
  color: var(--text);
  display: flex;
  font-family: var(--font), Helvetica, Arial, sans-serif;
  height: calc(100vh - 6.4rem);
  justify-content: center;
  margin: 3.2rem auto 0;
}

a {
  color: var(--link);
  cursor: pointer;
  text-decoration: none;
}
button {
  cursor: pointer;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 62.5rem;

  max-width: 35rem;
  min-width: 15rem;
  width: 100%;

  @include query(laptop) {
    max-width: 935px;
  }
  @include query(mobile) {
    max-width: 48rem;
  }
}

section {
  background-color: var(--white);
  border: 1px solid var(--border);
  margin: 0 auto;
  max-width: 35rem;
  padding: 3.2rem 4rem;
  width: 100%;

  @include query(mobile) {
    padding: 1.6rem;
  }
}

#smartphone {
  align-items: center;
  border-radius: 1px;
  justify-content: center;

  @include query(desktop) {
    display:none;
  }

  div.bg {
    background-image: url("./assets/instagram-celular-bg.png");
    background-position: -5rem 0;
    background-repeat: no-repeat;
    background-size: 46.8rem 63.4rem;
    height: 58.1rem;
    width: 40.75rem;
  }

  div.bg img {
    position: absolute;
  }

  img {
    height: 54rem;
    margin-left: 10.6rem;
    margin-top: 2.4rem;
    transition: opacity 0.2s;
    width: 25.4rem;
    z-index: 1;
  }

  /* animation */
  img:nth-of-type(3) {
    animation: crossfade 12s 0s infinite;
  }
  img:nth-of-type(2) {
    animation: crossfade 12s 4s infinite;
  }
  img:nth-of-type(1) {
    animation: crossfade 12s 8s infinite;
  }
  @keyframes crossfade {
     25% { opacity: 1; }
     50% { opacity: 0; }
     75% { opacity: 0; }
    100% { opacity: 1; }
  }
}


#login {
  align-items: center;
  justify-content: center;
  margin-top: 1.3rem;
  padding-bottom: 1rem;
  padding-top: 1.2rem;

  div {
    align-items: stretch;
    display: flex;
    flex-direction: column;
  }

  input {
    background-color: var(--background);
    border-radius: 3px;
    border: 1px solid var(--border);
    color: var(--text);
    flex: 1 0 auto;
    font-size: 1.2rem;
    height: 3.7rem;
    margin-bottom: 0.7rem;
    outline: 0;
    padding: 9px 0 8px 9px;
    text-overflow: ellipsis;
    width: 100%;
    z-index: 1;
  }
  input::placeholder {
    color: var(--);
    font-size: 1.2rem;
    outline: 0;
    line-height: 1.7rem;
  }

  button {
    background-color: var(--button);
    border-radius: 4px;
    border: 1px solid transparent;
    color: var(--white);
    cursor: pointer;
    display: block;
    flex: 0 0 auto;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 8px 0;
    padding: 5px 9px;
    text-align: center;
    text-overflow: ellipsis;
  }
  button:hover {
    background-color: var(--button-hover);
    transition: background-color 400ms;
  }

  .box1 {
    & > a {
      margin-bottom: 3.2rem;
      margin-top: 3.3rem;
      text-align: center;
    }

    label {
      height: 4.2rem;
    }

    #showhide {
      color: var(--text);
      cursor: pointer;
      display: flex;
      font-size: 1.4rem;
      font-weight: 600;
      justify-content: flex-end;
      left: -10px;
      position: relative;
      top: -36px;
      user-select: none;
    }

    .logo {
      max-width: 17.5rem;
      width: 80%;
    }
  }

  .box2 {
    align-items: center;
    border-top: 1px solid var(--border);
    display: flex;
    flex-wrap: wrap;
    margin: 1.8rem 0 1.3rem;
    text-align: center;
    z-index: 0;

    p:nth-of-type(1) {
      background-color: var(--white);
      color: var(--text-or);
      font-size: 1.3rem;
      margin-bottom: 2.6rem;
      margin-top: -1rem;
      text-align: center;
      width: 4rem;
      z-index: 1;
    }

    p:nth-of-type(2)::before {
      align-items: center;
      background-image: url(./assets/core-sprite.png);
      background-position: -347px -329px;
      background-repeat: no-repeat;
      background-size: 440px 411px;
      content: "";
      display: flex;
      height: 24px;
      width: 24px;
    }

    p:nth-of-type(2) {
      color: var(--text-facebook);
      display: flex;
      font-size: 1.4rem;
      font-weight: 600;
      margin-bottom: 1.6rem;

      @include query(smaller) {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      a {
        color: var(--text-forgot);
      }
    }

    p:nth-of-type(3) {
      display: flex;
      justify-content: center;

      a {
        align-items: center;
        color: var(--text-forgot);
        font-size: 1.2rem;
        font-weight: 400;
        justify-content: center;
      }
    }
  }
}


#register {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  justify-content: center;
  margin: 1rem 0;
  padding: 2.0rem 0;
  text-align: center;

  p {
    font-weight: 400;

    @include query(smaller) {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }

  a {
    font-weight: 600;
  }
}


#download {
  background: transparent;
  border: 1px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0 0;

  p {
    justify-content: center;
    padding-bottom: 2.0rem;
    text-align: center;
    width: 100%;
    font-size: 1.4rem;

    @include query(smaller) {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
  p img {
    max-width: 13.5rem;
  }
  p img:nth-of-type(1) {
    margin-right: 0.8rem;

    @include query(smaller) {
      margin-right: 0;
      margin-bottom: 0.8rem;
    }
  }
}
